<!DOCTYPE html>
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="bscript.js" defer></script>
      <title>Home</title>
  </head>
  <body>
    <h1>Welcome to video chat</h1>
    <div>
      <form action="create">
        <button>create room</button>
      </form>
      <br>
      <form action = "join_room" method = "POST">
        <input name = "roomid" placeholder="enter room id">
        <button type="submit">join room</button>
      </form>
    </div>
  </body>
</html>